<ion-content>
    <div (click)="closeModel()">
   		<ion-icon name="close" style="font-size:40px"></ion-icon>
    </div>
    <div class="contentDiv">
        <div class="subContentDiv">
        	<div>
             <div>
                <ion-radio-group [(ngModel)]="selectValues">
                    <ion-item lines="full">
                       <ion-label>تاريخ الاضافة : الاحدث</ion-label>
                        <ion-radio slot="end"  mode="ios" value="1"></ion-radio>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label>تاريخ الاضافة : الاقدم</ion-label>
                        <ion-radio slot="end"  mode="ios" value="2"></ion-radio>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label>السعر : أعلى</ion-label>
                        <ion-radio slot="end"  mode="ios" value="3"></ion-radio>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label>السعر : أقل</ion-label>
                        <ion-radio slot="end"  mode="ios" value="4"></ion-radio>
                    </ion-item>
                      <ion-item lines="full">
                        <ion-label>تم تقييم الطلب</ion-label>
                        <ion-radio slot="end"  mode="ios" value="5"></ion-radio>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label>لم يتم تقييم الطلب</ion-label>
                        <ion-radio slot="end"  mode="ios" value="6"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" class="lastItem"></ion-item>
                </ion-radio-group>
                 <div>
                  <div class="divButtonClass">
                    <ion-button class="oneButton fontSize14" id="submit" (click)="saveDataAndBack()"><span class="paddingBottom5">تطبيق</span></ion-button>
                  </div>
                </div>
              </div>
             </div> 
       </div> 
    </div>
</ion-content>
